<!-- menu section starts  -->

<section class="menu" id="menu">

    <h1 class="heading"> our <span>menu</span> </h1>

    <div class="box-container">

        <div class="box" *ngFor="let product of products">
            <img src="{{product.image}}" alt="">
            <h3>{{product.libelle}}</h3>
            <div class="price">${{product.price}} <span>{{product.previousprice}}</span></div>
            <a href="/menu" class="btn">add to cart</a>
        </div>

    </div>

</section>

<!-- menu section ends -->