<!-- footer section starts  -->

<section class="footer">

    <div class="share">
        <a href="https://www.facebook.com/profile.php?id=100018258616268" class="fab fa-facebook-f" target="_blank"></a>
        <a href="https://twitter.com/BenjdiaSaad" class="fab fa-twitter" target="_blank"></a>
        <a href="https://www.instagram.com/saadexact/" class="fab fa-instagram" target="_blank"></a>
        <a href="https://www.linkedin.com/in/saadbenjdia/" class="fab fa-linkedin" target="_blank"></a>
    </div>

    <div class="links">
        <a href="/">home</a>
        <a href="/about">about</a>
        <a href="/menu">menu</a>
        <!-- <a href="#products">products</a> -->
        <a href="/review">review</a>
        <a href="/contact">contact</a>
        <!-- <a href="#blogs">blogs</a> -->
    </div>

    <div class="credit">created by <span>Mr. BENJDIA Saad</span> | all rights reserved @2022</div>

</section>

<!-- footer section ends -->
