<!-- contact section starts  -->

<section class="contact" id="contact">

    <h1 class="heading"> <span>contact</span> us </h1>

    <div class="row">
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6692.4127437273555!2d-7.627912824137225!3d32.99833422362266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda60568bbddd4a7%3A0x5d58cfa1fb25ce51!2sQuartier%20Sma%C3%A2la%2C%20Settat!5e0!3m2!1sfr!2sma!4v1644955673265!5m2!1sfr!2sma" allowfullscreen="" loading="lazy"></iframe>
        <form (ngSubmit)="persistContact()">
            <h3>get in touch</h3>
            <div class="inputBox">
                <span class="fas fa-user"></span>
                <input [(ngModel)]="myContact.name" name="name" type="text" placeholder="name" required>
            </div>
            <div class="inputBox">
                <span class="fas fa-envelope"></span>
                <input [(ngModel)]="myContact.email" name="email" type="email" placeholder="email" required>
            </div>
            <div class="inputBox">
                <span class="fas fa-phone"></span>
                <input [(ngModel)]="myContact.telephone" name="telephone" type="number" placeholder="number" required>
            </div>
            <input type="submit" value="contact now" class="btn">
        </form>

    </div>

</section>