
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">
			<div class="signup">
				<form (ngSubmit) = "onSubmit()">
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text" [(ngModel)]="user.name" name="txt" placeholder="Full name" required="">
					<input type="email" [(ngModel)]="user.email" name="email" placeholder="Email" required="">
					<input type="password" [(ngModel)]="user.password" name="pswd" placeholder="Password" required="">
					<button>Sign up</button>
				</form>
			</div>

			<div class="login">
				<form>
					<label for="chk" aria-hidden="true">Login</label>
					<input type="email" [(ngModel)]="email" name="email" placeholder="Email" required="">
					<input type="password" [(ngModel)]="password" name="pswd" placeholder="Password" required="">
					<button (click)="signIn()">Login</button>
				</form>
			</div>
	</div>